In [ ]:
# 1. Discuss string slicing and provide examples.

#Basic Slicing: Extract a portion of a string using string[start:end], where start is inclusive and end is exclusive.
#Example: "hello"[1:4] results in "ell".
"hello"[1:4]

'ell'

In [ ]:
#Omitting Start/End: If you omit start, slicing begins from the beginning, and if you omit end, slicing continues to the end.
#Example: "hello"[:3] results in "hel", and "hello"[2:] results in "llo".
"hello"[:3]

'hel'

In [ ]:
"hello"[2:]

'llo'

In [ ]:
#Negative Indices: Use negative indices to count from the end of the string.
#Example: "hello"[-4:-1] results in "ell".
"hello"[-4:-1]

'ell'

In [ ]:
#Step Parameter: Use string[start:end:step] to specify a step value for slicing.
#Example: "hello"[::2] results in "hlo".
"hello"[::2]

'hlo'

In [ ]:
#Reversing Strings: A step of -1 can be used to reverse a string.
#Example: "hello"[::-1] results in "olleh".
"hello"[::-1]

'olleh'

In [ ]:
# 2.Explain the key features of lists in Python.

#Mutable: Lists can be modified after creation, allowing for element updates and deletions.
#Example: my_list[3] = 10 changes the third element to 10.
my_list = [0, 5, 10, 15, 20]
my_list[3] = 10
my_list

[0, 5, 10, 10, 20]

In [ ]:
#Ordered: Elements in a list maintain their order based on their position.
#Example: [1, 2, 3] has the same order as initially defined.
list1 = [1, 2, 3]
list1

[1, 2, 3]

In [ ]:
#Indexable: Elements can be accessed using their index position, with the first element at index 0.
#Example: my_list[1] accesses the second element.
my_list = [0, 5, 10, 15, 20]
my_list[1]

5

In [ ]:
#Heterogeneous: Lists can contain elements of different data types.
#Example: [1, "hello", 3.14] includes an integer, a string, and a float.
list2 = [1, "hello", 3.14]
print(type(list2),
type(1),
type("hello"),
type(3.14))

<class 'list'> <class 'int'> <class 'str'> <class 'float'>

In [ ]:
#Dynamic Size: Lists can grow or shrink in size as elements are added or removed.
#Example: my_list.append(25) adds an element to the end of the list.
my_list = [0, 5, 10, 15, 20]
my_list.append(25)
my_list

[0, 5, 10, 15, 20, 25]

In [ ]:
# Iterable: Lists can be iterated over in loops and comprehensions.
#Example: for item in my_list: print(item) prints each element.
my_list = [0, 5, 10, 15, 20]
for item in my_list:
  print(item)

0
5
10
15
20

In [ ]:
#Support for Nesting: Lists can contain other lists, enabling complex data structures.
#Example: [[1, 2], [3, 4]] is a list of lists.
list3 = [[1, 2], [3, 4]]
print(type(list3), type(list3[0]))

<class 'list'> <class 'list'>

In [ ]:
# 3.Describe how to access, modify, and delete elements in a list with examples.

#Accessing Elements: Use indexing to access elements by their position.
#Example: my_list[0] retrieves the first element of the list.
my_list = [0, 5, 10, 15, 20]
my_list[0]

0

In [ ]:
#Modifying Elements: Assign a new value to a specific index to change an element.
#Example: my_list[1] = 7 updates the second element.
my_list[1] = 7
my_list

[0, 7, 10, 15, 20]

In [ ]:
#Appending Elements: Use the append() method to add elements to the end of the list.
#Example: my_list.append(25) adds 25 to the end of the list.
my_list.append(25)
my_list

[0, 7, 10, 15, 20, 25]

In [ ]:
#Inserting Elements: Use the insert() method to add elements at a specific position.
#Example: my_list.insert(2, 30) places 30 at index 2.
my_list.insert(2, 30)
my_list

[0, 7, 30, 10, 15, 20, 25]

In [ ]:
#Removing Elements by Value: Use the remove() method to delete the first occurrence of a value.
#Example: my_list.remove(30) removes the first 30 found.
my_list.remove(30)
my_list

[0, 7, 10, 15, 20, 25]

In [ ]:
#Removing Elements by Index: pop() method to remove an element by index.
#Example: my_list.pop(2) removes the element at index 2.
my_list.pop(2)
my_list

[0, 7, 15, 20, 25]

In [ ]:
#Clearing the List: Use the clear() method to remove all elements from the list.
#Example: my_list.clear() empties the entire list.
my_list.clear()
my_list

[]

In [ ]:
# 4.Compare and contrast tuples and lists with examples.

# Mutability: Lists are mutable (can be changed), while tuples are immutable (cannot be changed).
#Example: list1[1] = 10 works, but tuple1[1] = 10 raises an error.
list1 = [5, 7, 15, 20]
list1[1] = 10
list1

[5, 10, 15, 20]

In [ ]:
tuple1 = (5, 7, 15, 20)
tuple1[1] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Syntax: Lists use square brackets [], whereas tuples use parentheses ().
#Eample: [1, 2, 3] is a list; (1, 2, 3) is a tuple.

#Methods: Lists have methods like append() and remove(), while tuples have fewer methods, mostly related to counting and finding elements.
#Example: list1.append(25) works, but tuple1.append(25) does not.
list1.append(25)
list1

[5, 10, 15, 20, 25]

In [ ]:
tuple1.append(25)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Performance: Tuples generally have better performance for iteration and access due to their immutability.
#Example: Accessing elements in (1, 2, 3) is faster compared to [1, 2, 3].

#Use Cases: Lists are suited for collections of items that may change, whereas tuples are often used for fixed collections of items.
#Example: Use lists for dynamic collections like a shopping list and tuples for fixed data like coordinates.

In [ ]:
# 5.Describe the key features of sets and provide examples of their use.

#Definition: A set is a collection of distinct objects, considered as an object in its own right.
#Example: {1, 2, 3, 4} is a set of integers.
s1 = {1, 2, 3, 4}
type(s1)

set

In [ ]:
#Uniqueness: Each element in a set is unique; duplicates are not allowed.
#Example: {"a", "b", "b"} simplifies to {"a", "b"}.
s2 = {"a","b","b"}
s2

{'a', 'b'}

In [ ]:
#No Order: The elements in a set are unordered.
#Example: {"apple", "banana", "cherry"} is the same as {"cherry", "banana", "apple"}.

#Notation: Sets are typically denoted with curly braces {}.
#Example: The set of natural numbers less than 5 is {1, 2, 3, 4}.

#Membership: An element is either a member of a set or not.
#Example: For the set {a, b, c}, b is a member, but d is not.
s3 = {"a", "b", "c"}
"b" in s3

True

In [ ]:
"d" in s3

False

In [ ]:
#Items: There cannot be unhashable type (mutable) data structures inside a set.
#Example: {"a", "b", "c", ["d", "e"]} will give an error
s4 = {"a", "b", "c", ["d", "e"]}

TypeError: unhashable type: 'list'

In [ ]:
#Add/ Remove items: Sets are mutable hence can be modified.
#Example1: s5.add(5) will add 5 to {1, 2, 3, 4}
s5 = {1, 2, 3, 4}
s5.add(5)
s5

{1, 2, 3, 4, 5}

In [ ]:
# Example2: s5.remove(5) will remove 5 from s5
s5.remove(5)
s5

{1, 2, 3, 4}

In [ ]:
#Union: The union of two sets combines all unique elements from both sets.
#Example: {1, 2} ∪ {2, 3} results in {1, 2, 3}.
a = {1, 2}
b = {2,3}
a | b

{1, 2, 3}

In [ ]:
#Intersection: The intersection of two sets contains only the elements present in both sets.
#Example: {1, 2, 3} ∩ {2, 3, 4}results in{2, 3}`.
c = {1, 2, 3}
d = {2,3}
c & d

{2, 3}

In [ ]:
#Difference: The difference between two sets contains elements present in the first set but not in the second.
#Example: {1, 2, 3} - {2, 3, 4} results in {1}.
e = {1, 2, 3}
f = {2, 3, 4}
e-f

{1}

In [ ]:
#Symmetric difference: Gives the values other than the common values between the 2 sets.
# Example: {1, 2, 3} ^ {2, 3, 4} results in {1, 4}.
g = {1, 2, 3}
h = {2, 3, 4}
g ^ h

{1, 4}

In [ ]:
# Frozen Sets: Frozen sets are immutable sets.
# Example: frozenset([1, 2, 3, 4]) cannot be modified
fs = frozenset([1, 2, 3, 4])
fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [1]:
#Tuples
#Immutable Collections: Tuples are used when a fixed-size, immutable collection of items is needed.
#Example: coords = (10, 20) is used to store a fixed coordinate pair.
coords = (10, 20)
coords[0] = 15

TypeError: 'tuple' object does not support item assignment

In [2]:
#Hashable Keys: Tuples can be used as keys in dictionaries or elements in sets because they are hashable.
#Example: d = { (1, 2): 'value' } uses a tuple as a dictionary key.
d = { (1, 2): 'value' }
type(d)

dict

In [3]:
#Data Integrity: Tuples ensure that the data cannot be modified, preserving its integrity.
#Example: (name, age) = ("Alice", 30) keeps the data intact throughout the program.

#Sets
#Unique Element Storage: Sets are used to store collections of unique items, eliminating duplicates.
#Example: set1 = {1, 2, 2, 3} results in {1, 2, 3}.
set1 = {1, 2, 2, 3}
set1

{1, 2, 3}

In [4]:
#Fast Membership Testing: Sets provide efficient membership tests.
#Example: if 3 in set1: checks membership quickly.
3 in set1

True

In [5]:
#Set Operations: Sets support mathematical operations like union, intersection, and difference.
#Example: {1, 2, 3} | {3, 4, 5} computes the union resulting in {1, 2, 3, 4, 5}.
{1, 2, 3} | {3, 4, 5}

{1, 2, 3, 4, 5}

In [6]:
#Removing Duplicates: Sets can be used to remove duplicates from a list.
#Example:
list1 = [1, 1, 2, 2, 3, 4, 4]
set(list1)

{1, 2, 3, 4}

In [7]:
#Dynamic Set Operations: Sets are useful for dynamic operations where elements are frequently added or removed.
#Example: my_set.add(6) adds an element to the set efficiently.
my_set = {1, 2, 3, 4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}

In [8]:
# 7.Describe how to add, modify, and delete items in a dictionary with examples.

#Add Items: To add a new key-value pair, simply assign a value to a new key.
#Example: my_dict['new_key'] = 'new_value' adds 'new_key': 'new_value' to the dictionary.
dict1 = {"Name": "Ateeb", "Course": "DA"}
dict1["address"] = "Pune"
dict1

{'Name': 'Ateeb', 'Course': 'DA', 'address': 'Pune'}

In [11]:
#Modify Items: To change the value of an existing key, reassign a new value to the key.
#Example: my_dict['existing_key'] = 'updated_value' updates the value for 'existing_key'.
dict1["address"] = "Maharashtra"
dict1

{'Name': 'Ateeb', 'Course': 'DA', 'address': 'Maharashtra'}

In [13]:
#Delete Items: To remove a key-value pair, use the del statement or the pop() method.
#Example: del my_dict['key_to_remove'] deletes the key-value pair, or my_dict.pop('key_to_remove') removes and returns the value.
del dict1["Course"]
dict1

{'Name': 'Ateeb', 'address': 'Maharashtra'}

In [14]:
dict1 = {'Name': 'Ateeb', 'Course': 'DA', 'address': 'Maharashtra'}
dict1.pop("Name")

'Ateeb'

In [15]:
dict1

{'Course': 'DA', 'address': 'Maharashtra'}

In [16]:
##Update Items: Use the update() method to add or modify multiple key-value pairs at once.
#Example: my_dict.update({'key1': 'value1', 'key2': 'value2'}) adds or updates these key-value pairs.
dict1.update({"email": "abc@gmail.com", "number": 1234})
dict1

{'Course': 'DA',
 'address': 'Maharashtra',
 'email': 'abc@gmail.com',
 'number': 1234}

In [17]:
#Clear All Items: To remove all items from the dictionary, use the clear() method.
#Example: my_dict.clear() empties the dictionary, leaving it with no items.
dict1.clear()
dict1

{}

In [18]:
# 8. Discuss the importance of dictionary keys being immutable and provide examples.

#Hashability Requirement: Dictionary keys must be immutable because they need to be hashable.
#Example: Strings, integers, and tuples (immutable elements) can be used as keys, such as {'key': 'value'}.
my_dict = {(1, 2): "ABC", "abcd": 123}
my_dict

{(1, 2): 'ABC', 'abcd': 123}

In [19]:
#Consistency: Immutable keys ensure that the hash value remains constant, maintaining dictionary integrity and fast access.
#Example: A key like (1, 2) remains consistent for retrieval, unlike a list which can change.

#Avoiding Key Mutation: Using mutable types as keys could lead to unpredictable behavior or errors if the key’s value changes.
#Example: Lists cannot be used as keys because their contents can change.

#Predictable Behavior: Immutable keys ensure that each key maps to a consistent value, allowing for reliable data retrieval.
#Example: If my_dict['key'] = 'value', my_dict['key'] will always return 'value' unless the key itself is modified.
my_dict["veg"] = "paneer"
my_dict

{(1, 2): 'ABC', 'abcd': 123, 'veg': 'paneer'}

In [20]:
my_dict["veg"]

'paneer'

In [ ]:
#Efficient Performance: Immutability ensures that dictionary operations (insertion, lookup) are performed with optimal efficiency due to constant hash values.
#Example: Accessing my_dict['key'] operates efficiently because 'key' has a fixed hash value.