In [1]:
# 1. Explain the key featu$es of Python that make it a popular choice for programming?

# - Readability: Python's syntax is clear and easy to read, which enhances code maintainability.
# - Simplicity: It has a straightforward, concise syntax that makes it easy to learn for beginners.
# - Versatility: Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.
# - Large Standard Library: It comes with a rich standard library that provides many modules and functions for various tasks.
# - Cross-Platform Compatibility: Python code can run on different operating systems without modification.
# - Strong Community Support:** A large and active community provides extensive documentation, tutorials, and third-party libraries.
# - Dynamic Typing:** It allows for flexibility in coding by not requiring explicit type declarations.
# - Interpreted Language: Python code is executed line by line, which aids in debugging and testing.
# - Integration Capabilities: It integrates well with other languages and technologies, making it suitable for a wide range of applications.

In [10]:
# 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

#Reserved Words: Predefined keywords in Python are reserved for specific syntactical purposes and cannot be used as identifiers for variables or functions.
#Control Flow: Keywords like if, elif, and else are used to control the flow of execution in conditional statements.
#Loops: Keywords such as for and while facilitate iteration over sequences and repeated execution of code blocks.
#Function Definition: The def keyword is used to define functions, encapsulating reusable blocks of code.
#Exception Handling: Keywords like try, except, finally, and raise manage error handling and exception control.
#Data Structures: class is used to define new user-defined types or classes, and import is used to include external modules and libraries.
#Code Execution: The return keyword specifies the value to be returned from a function, and yield is used in generators to return a value and pause the functionâ€™s execution.
#Boolean Values: True and False are used to represent boolean values in logical operations and control flow decisions.

#For example: To print even numbers in the range 10 using keywords (for,range,in,if,print)
for a in range(0,10):
  if a%2 == 0:
    print(a)

0
2
4
6
8

In [11]:
# 3. Compare and contrast mutable and immutable objects in Python with examples.

#Definition: Mutable objects can be changed after creation, while immutable objects cannot be altered once they are created.
#Lists vs Tuples: Lists are mutable and can be modified with operations like append() or remove(), while tuples are immutable and cannot be modified after creation.
#Strings: Strings are immutable, so operations that modify a string (e.g., concatenation) create a new string rather than altering the original one.
#Dictionaries: Dictionaries are mutable; you can add, remove, or change key-value pairs within a dictionary.
#Sets: Sets are mutable, allowing for the addition and removal of elements, unlike frozensets, which are immutable versions of sets.
#Performance: Immutable objects often have better performance in terms of hash calculations and are inherently thread-safe, whereas mutable objects may involve more overhead due to the need for synchronization in concurrent environments.

#For example:
# Strings are immutable
a = "Python"
a[2] = h #it gives an error

NameError: name 'h' is not defined

In [12]:
# Lists are mutable and can be changed
lis = ["Python", "Java", "C++", "HTML"]
lis[1] = "JavaScript" #it does not give an error
lis

['Python', 'JavaScript', 'C++', 'HTML']

In [18]:
# 4. Discuss the different types of operators in Python and provide examples of how they are used.

#Arithmetic Operators: Perform basic mathematical operations; e.g., + (addition), - (subtraction), * (multiplication), and / (division).
#Example: 5 + 3 results in 8.

5+3

8

In [19]:
#Comparison Operators: Compare values and return boolean results ( == (equal to), != (not equal to), > (greater than), and < (less than).)
# Example: 2 == 2 results in true
2 == 2

True

In [20]:
#Example: 7 < 4 results in False
7 < 4

False

In [21]:
#Logical Operators: Combine boolean values to perform logical operations (and, or).

#Example: True and False results in False.
True and False

False

In [22]:
#Assignment Operators: Assign values to variable (= (assign), += (add and assign), and -= (subtract and assign).)

#Example: x = 10 assigns 10 to x, and x += 5 updates x to 15.
x = 10
x

10

In [23]:
x += 5
x

15

In [24]:
#Bitwise Operators: Perform operations on binary representations of integers ( & (and), | (or), ^ (xor), and ~ (not)).

#Example: 5 & 3 results in 1 (binary 0101 & 0011).
5 & 3

1

In [27]:
#Membership Operators: Check for membership in sequences (in and not in).

#Example: 'a' in 'apple' results in True.
"a" in "apple"

True

In [29]:
#Identity Operators: Check for object identity (is and is not).

#Example: a is b checks if a and b refer to the same object in memory.
"a" is "b"

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-e46aa840335d>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "a" is "b"

False

In [30]:
# 5.Explain the concept of type casting in Python with examples.

# Type casting definition: Converting a value from one data type to another.

#int(): Converts a value to an integer.
#Example: int(3.14) results in 3.
int(3.14)

3

In [31]:
type(3)

int

In [32]:
#float(): Converts a value to a floating-point number.
#Example: float('3.14') results in 3.14.
float("3.14")

3.14

In [33]:
type(3.14)

float

In [34]:
#str(): Converts a value to a string.
#Example: str(123) results in '123'.
str(123)

'123'

In [35]:
type(123)

int

In [37]:
#bool(): Converts a value to a boolean.
#Example: bool(0) results in False.
bool(0)

False

In [38]:
type(False)

bool

In [39]:
#list(): Converts an iterable to a list.
#Example: list('hello') results in ['h', 'e', 'l', 'l', 'o'].
list("hello")

['h', 'e', 'l', 'l', 'o']

In [40]:
type(['h', 'e', 'l', 'l', 'o'])

list

In [42]:
# 6.How do conditional statements work in Python? Illustrate with examples.

#Conditional statements in Python allow you to execute certain blocks of code based on whether a condition is true or false. Hereâ€™s a brief overview with examples:

#if Statement: Executes a block of code if its condition is true.
#Example
x = 15
if x > 10:
  print("x is greater than 10")

x is greater than 10

In [45]:
# if else Statement: Executes the else block of code if the if condition is false.
#Example
x = 5
if x > 10:
  print("x is greater than 10")
else:
  print("x is less than 10")

x is less than 10

In [46]:
#elif Statement: Checks multiple conditions in sequence if the previous conditions were false.
#Example
x = 20
if x > 20:
  print("x is greater than 20")
elif x == 20:
  print("x is equal to 20")
else:
  print("x is less than 20")

x is equal to 20

In [51]:
#Nested if else: Conditions can be nested within other conditionals.
#Example
x = 12
y = 9
if x > 10:
  if y > 10:
    print("Both x and y are greater than 10")
  else:
    print("x is greater than 10 but y is less than 10")
else:
  print("x is less than 10")

x is greater than 10 but y is less than 10

In [53]:
# 7.Describe the different types of loops in Python and their use cases with examples.

# Loop statement allows to execute a block of code repetedly.
# while Loop: Repeatedly executes a block of code as long as a condition is true.
# Example:
count = 0
while count < 5:
  print(count)
  count = count + 1

0
1
2
3
4

In [54]:
# for Loop: Iterates over a sequence (like a list, tuple, string, or range) and executes a block of code for each element.
# Example
for i in range(5):
  print(i)

0
1
2
3
4

In [55]:
# break Statement: Exits the loop prematurely when a condition is met.
# Example 1
count = 0
while count < 10:
  print(count)
  count = count + 1
  if count == 5:
    break

0
1
2
3
4

In [56]:
# Example 2
for i in range(10):
  print(i)
  if i == 5:
    break

0
1
2
3
4
5

In [65]:
# continue Statement: Skips the current iteration and proceeds with the next iteration of the loop.
# Example 1
count = 0
while count<10:
  count = count+1
  if count == 5:
    continue
  print(count)

1
2
3
4
6
7
8
9
10

In [66]:
# Example 2
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9